
<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" contenteditable="false">
            <a class="govuk-tabs__tab" href="#tab1">
                Tab 1
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#tab2">
                Tab 2
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#tab3">
                Tab 3
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#tab4">
                Tab 4
            </a>
        </li>
    </ul>
    <div class="govuk-tabs__panel" id="tab1">
        <h2 class="govuk-heading-l">Tab 1</h2>

        <p class="govuk-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae interdum lacus. Sed libero mauris,
            blandit nec porttitor in, auctor et libero. Etiam venenatis lorem diam, a placerat lorem iaculis et. Vivamus
            in lacus sed leo tempor porttitor.
        </p>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="#">Benefits calculators</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Benefit overpayments</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Benefit fraud</a>
            </li>
            <li>
                <a class="govuk-link" href="#">More</a>
            </li>
        </ul>

    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab2">
        <h2 class="govuk-heading-l">Tab 2</h2>

        <p class="govuk-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae interdum lacus. Sed libero mauris,
            blandit nec porttitor in, auctor et libero. Etiam venenatis lorem diam, a placerat lorem iaculis et. Vivamus
            in lacus sed leo tempor porttitor.
        </p>
        <p class="govuk-body">
            Vivamus facilisis metus nec ligula hendrerit, at tincidunt lacus interdum.
            Etiam a aliquet sem, a rhoncus lacus. Praesent luctus et ligula at iaculis. Nulla accumsan lectus sed nisl
            condimentum posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Ut malesuada ipsum sit amet feugiat efficitur. Donec pellentesque, nisl non vestibulum finibus, est orci viverra
            orci, sed rutrum libero velit at leo.
        </p>

    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab3">
        <h2 class="govuk-heading-l">Tab 3</h2>

        <p class="govuk-body">
            Vivamus facilisis metus nec ligula hendrerit, at tincidunt lacus interdum.
            Etiam a aliquet sem, a rhoncus lacus. Praesent luctus et ligula at iaculis. Nulla accumsan lectus sed nisl
            condimentum posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Ut malesuada ipsum sit amet feugiat efficitur. Donec pellentesque, nisl non vestibulum finibus, est orci viverra
            orci, sed rutrum libero velit at leo.
        </p>

    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab4">
        <h2 class="govuk-heading-l">Tab 4</h2>

        <ol class="govuk-list govuk-list--number">
            <li>Delivery address.</li>
            <li>Payment.</li>
            <li>Confirmation.</li>
        </ol>

    </div>
</div>


<script type="text/javascript" src="/gds/3.7/govuk-frontend-3.7.0.min.js"></script>
<script type="text/javascript">
    window.GOVUKFrontend.initAll();
</script>